<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 1;
}

.navbar-s1__Title {
  color: #A435F0;
}
.navbar-s1__logo{
  height: 50px;
  margin-left: 10px;

}

.navbar-s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-s2 input {
  border: none;
  width: 100%;
}

.navbar-s2 input:focus {
  outline: none;
}

.navbar-s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar-s4{
  display: none;
}

.mylearning{
  position: relative;
  cursor: pointer;
}
.mylearning__popup{
  position: absolute;
  background-color:white ;
  border: solid black 1px;
  width: 100px;
  padding: 10px;
  top: 150%;
  right: 0%;
  border-radius: 5px;
  display: none;
}
.mylearning:hover .mylearning__popup{
  display:block;
}


.categories {
  display: flex;
  border-bottom: solid black 1px;
  justify-content: space-around;

}

.categories P {
  background-color: #A435F0;
  color: white;
  padding: 10px 15px 10px 15px ;
  border-radius: 30px;
  margin: 5px;
  border: solid #A435F0 1px;
  cursor: pointer;

}
.categories p:hover{
  transition: 0.15s;
  background-color: transparent;
  color: black;
  border: solid #A435F0 1px;

}

.sales-image img {
  width: 100%;
  position: relative;
  
}
.sales-image__offer{
  position: absolute;
  background-color: white;
  border: solid black 2px;
  left:500px;
  width: 25%;
  padding: 20px;
  top: 155px;
  border-radius: 10px;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;

}
@keyframes zoom{
  0%{
    transform: scale(0);
    opacity: 0;
  }
 100%{
    transform: scale(1);
    opacity: 1;
  }
}

.recommend {
  padding: 20px;

}

.recommend__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  }

.course-card {
  flex-basis:20% ;
  margin: 5px;
  flex-grow: 1;
}

img {
  width: 100%;
  border-radius: 20px;
  
}

.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.topics__container p {
  border: solid grey 1px;
  margin-top: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 10px;
}
.popular{
  padding: 20px;

}

.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}

.footer__one{
  display: flex;
  gap: 10px;
}
.footer__one p{
  margin: 20px;
}
.footer__two{
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  body {
    
    font-size: 10px;
  }
}
  @media screen and (max-width: 600px) {
  .course-card {
    flex-basis: 40%;
  }
  .categories{
    display: none;
  }
  .navbar-s2,.navbar-s3{
    display: none;
  }
  .navbar-s4{
    display: block;
    
  }
  .sales-image__offer{
    left: 50px;
    top: 80px;
    /* width: 25%; */
    padding: 2%;
    font-size: 8px;
    border: solid black 1px;
}

 }
=======
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
}

.navbar-s1__Title {
  color: #A435F0;
}
.navbar-s1__logo{
  height: 50px;
  margin-left: 10px;

}

.navbar-s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-s2 input {
  border: none;
  width: 100%;
}

.navbar-s2 input:focus {
  outline: none;
}

.navbar-s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.categories {
  display: flex;
  border-bottom: solid black 1px;
  justify-content: space-around;

}

.categories P {
  background-color: #A435F0;
  color: white;
  padding: 10px 15px 10px 15px ;
  border-radius: 30px;
  margin: 5px;
}

.sales-image img {
  width: 100%;
}

.recommend {
  padding: 20px;

}

.recommend__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

}

.course-card {
  width: 300px;

}

img {
  width: 100%;
  border-radius: 20px;

}

.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.topics__container p {
  border: solid grey 1px;
  margin-top: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 10px;
}
.popular{
  padding: 20px;

}

.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}

.footer__one{
  display: flex;
  gap: 10px;
}
.footer__one p{
  margin: 20px;
}
.footer__two{
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
>>>>>>> ba44d3c112b8b0febac1bc399a4b289c0cd00e1b
